@charset "UTF-8";

@font-face {
  font-family: "tcc";
  src:url("../fonts/tcc.eot");
  src:url("../fonts/tcc.eot?#iefix") format("embedded-opentype"),
    url("../fonts/tcc.woff") format("woff"),
    url("../fonts/tcc.ttf") format("truetype"),
    url("../fonts/tcc.svg#tcc") format("svg");
  font-weight: normal;
  font-style: normal;

}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "tcc" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-down:before {
  content: "\61";
}
.icon-angle-left:before {
  content: "\62";
}
.icon-angle-right:before {
  content: "\63";
}
.icon-angle-up:before {
  content: "\64";
}
.icon-angle-double-left:before {
  content: "\65";
}
.icon-angle-double-right:before {
  content: "\66";
}

.clear {
    clear: both;
}
body {
    padding-top: 50px;
    padding-bottom: 0px;
    background: ghostwhite;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.body-content {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: #363a3c;
}
.row {
    margin: 0;
}

/*NAV*/
@media (max-width: 820px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.navbar {
    background-color: #f8f8ff;
    border-bottom: 1px solid #d8dde6;
}
.navbar .container {
    max-width: 100%;
}
.navbar-brand {
    color: #E68400;
}
.navbar-toggle {
    background-color: transparent;
}
.navbar-toggle:hover {
    background-color: #ddd;
}
.navbar-toggle .icon-bar {
    background-color: #428bca;
}
footer {
    background: ghostwhite;
    padding: 1.5rem;
    text-align: center;
    border-top: 1px solid #d8dde6;
}
footer p {
    margin: 0;
}
/*MAIN PAGE*/
.main-img {
    height: 800px;
    width: 100%;
    background-image: url("images/first-page.jpg");
    background-size: cover;
    background-position: center center;
}
.main-header {
    background-color: rgba(54, 58, 60, 0.75);
    position: relative;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 60rem;
    max-width: 100%;
    padding: 8rem;
    transform: translatex(-50%) translatey(-50%);
}
@media only screen and (max-width: 600px)  {
    .main-header {
        padding: 8rem 4rem;
    }
}
.main-header h1 {
    color: #fff;
    margin: 0;
    padding-bottom: 2rem;
}
.main-header .btn {
    background-color: #00abd3;
    color: #fff;
    transition: 0.5s ease;
}
.main-header .btn:hover {
    background-color: #ffa429;
    color: #fff;
}
.offers h1 {
    margin: 0;
    background-color: #00abd3;
    text-align: center;
    padding: 0.5rem;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.offers h1:before, .offers h1:after {
    content: "";
    position: absolute;
    top: 3px;
    display: inline-block;
    transform: rotate(45deg);
    height: 42px;
    width: 42px;
    background-color: #00abd3;
    border: 5px solid #ffa429;
}
.offers h1:before {
    left: -25px;
}
.offers h1:after {
    right: -25px;
}
.offer {
    margin: 5rem auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 33.5rem;
    max-width: 34rem;
    background-color: #fff;
    border-radius: 0.25rem;
}
.img-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 20rem;
}
.img-wrapper h3 {
    text-align: center;
    margin: 0;
    padding: 1rem;
    background: rgba(54, 58, 60, 0.73);
    color: #fff;
}
.event-offer {
    background-image: url("images/cycling2.jpg");
}
.house-offer {
    background-image: url("images/tent.jpg");
}
.food-offer {
    background-image: url("images/food.jpg");
}
.offer p {
    padding: 1.5rem 3rem;
    text-align: center;
    margin: 0;
}

.offer .btn {
    max-width: 100%;
    background-color: #00abd3;
    color: #fff;
    margin: 1.5rem 3rem;
}
.offer .btn:hover {
    background-color: #1884B1;
    color: #fff;
}

/*TIMELINE*/
.timeline-container {
    width: 100%;
}
.timeline-ribbon {
    background-color: #88B1DE;
    background-color: #00abd3;
    padding: 1rem;
}
.timeline-ribbon h2 {
    color: #363A3C;
    margin: 0;
    text-align: center;
    font-size: 1.8rem;
    padding-bottom: 2.3rem;
}

.timeline-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*.timeline-wrapper span {
    display: inline-block;
}*/
.arrows-wrapper span {
    font-size: 2.2rem;
    line-height: 2.2rem;
    padding: 0.2rem;
    position: relative;
    cursor: pointer;
    color: #363A3C;
}
.arrows-wrapper span:hover {
    color: #fecf44;
}
.arrows-wrapper span:before {
    position: relative;
    top: 0.4rem;
}
.timeline {
    height: 2px;
    width: 70%; 
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.timeline-day {
    position: relative;
    width: 14px;
    height: 14px;
    border: 2px solid #fff;
    background-color: #00ABD3;
    border-radius: 50%;
    cursor: pointer;
}
.timeline-day:hover {
    box-shadow: 0 0 5px 2px #ffa429;
}
.timeline-day.active-day {
    width: 14px;
    height: 14px;
    background-color: #ffa429;
    border: 2px solid #363A3C;
}
.active-day-indicator {
    background-color: #fff;
    display: none;
    position: absolute;
    height: 2rem;
    width: 2rem;
    bottom: -3rem;
    left: -0.5rem;
    transform: rotate(45deg);
}
.active-day .active-day-indicator {
    display: block;
}
.day-name {
    position: absolute;
    top: -2.5rem;
    left: -10px;
    width: 3rem;
    text-align: center;
    color: #363A3C;
}

/*LEFT COLUMN*/
.left-column {
    padding: 1.5rem;
}

/*INPUT TEXT*/
.input-text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
    color: #16325c;
    border: 1px solid #d8dde6;
    border-radius: 14px;
    width: 100%;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    padding: 0.5rem 1rem 0.5rem .75rem;
    line-height: 14px;
    font-size: 14px;
}
.input-text:focus, .input-text:active {
    outline: 0;
    border-color: #ffa429;
    background-color: #fff;
    box-shadow: 0 0 3px #ffa429;
}
.datepicker-wrapper {
    padding-top: 1.5rem;
}
.datepicker-wrapper label {
    color: #ffa429;
}
.datepicker {
    max-width: 100%;
}
.categories-wrapper {
    margin: 2rem 0;
}
.categories-wrapper label {
    color: #ffa429;
}
.category-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.category-list li {
    cursor: pointer;
    color: #00abd3;
    padding: 0.5rem 2rem 0.5rem 1rem;
    position: relative;
    transition: 0.2s ease;
}
.category-list li:hover {
    color: #ffa429;
}
.category-list li.active-category {
    background-color: #fff;
    border-radius: 13px;
    color: #428bca;
}
.category-list li.active-category:before {
    content: "c";
    font-family: tcc;
    position: absolute;
    right: 0.5rem;
    font-size: 2rem;
}

.btns-wrapper {
    padding: 1rem 0;
}
.btns-wrapper .btn {
    width: 100%;
    margin: 1rem 0;
    background-color: #ffa429;
    color: #fff;
    font-weight: bold;
}
.btns-wrapper .btn:hover {
    background-color: #E68400;
}
/*RIGHT COLUMN*/
.right-column {
    background-color: #fff;
}
.events-wrapper {
    width: 100%;
    padding: 2rem 0;
}
.event {
    padding: 1.5rem 3rem;
    margin: 1rem auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 40rem;
    max-width: 34rem;

}
.event.passed {
    background-color: #ddd;
}
.event h3 {
    margin: 0;
    text-align: center;
    padding-bottom: 0.5rem;
}
.event h3 a {
    color: #000;
    display: block;
    cursor: pointer;
}
.event h3 a:hover {
    text-decoration: underline;
    color: #ffa429;
}
.event .short-description {
    padding: 1rem 0;
    margin: 0;
}
img.event-img {
    width: 100%;
}
.event .btn {
    width: 100%;
    background-color: #00abd3;
    color: #fff;
}

.event .btn:hover {
    background-color: #1884B1;
    color: #fff;
}
.event.passed .btn {
    background-color: rgba(54, 58, 60, 0.45);
    cursor: default;
}
.event.passed .btn:hover {
    background-color: rgba(54, 58, 60, 0.45);
}
.next-event {
    font-weight: bold;
}

/*LOGIN SCREEN*/
.login-screen, .register-screen, .create-event-screen {
    margin: 4rem auto;
    width: 70%;
    background-color: #fff;
    padding: 4rem;
    border-radius: 4px;
}
.login-screen h2, .register-screen h2, .create-event-screen h2 {
    margin: 0;
    padding: 0 1.5rem;
    color: #363A3C;
}
.register-screen h4 {
    margin: 0;
    padding: 1.5rem 1.5rem 0;
}
.login-screen label, .register-screen label, .create-event-screen label {
    color: #363A3C;
}
.submit-btn .btn {
    background-color: #00abd3;
    color: #fff;
}
.submit-btn .btn:hover {
    background-color: #1884B1;
}
.login-screen input.form-control:focus, .register-screen input.form-control:focus, .create-event-screen input.form-control:focus {
    outline: 0;
    border-color: #ffa429;
    box-shadow: 0 0 3px #ffa429;
}