@{
    ViewBag.Title = "About";
}
<div class="col-md-3 col-sm-3 left-column">

    <div class="categories-wrapper">
        <label>Show events:</label>
        <ul class="category-list">
            <li class="active-category">All events</li>
            <li>Family Events</li>
            <li>Children Events</li>
            <li>Adults Events</li>
            <li>Guest Events</li>
        </ul>
    </div>
    <div class="btns-wrapper">
        <a class="btn">Events per Week</a>
        <a class="btn">Create New Event</a>
    </div>
</div>
<div class="col-md-9 col-sm-9 right-column">
    <div class="events-wrapper">
        <div class="col-md-6 col-sm-6 col-xs-12 col-lg-4">
            <div class="event">
                <div>
                    <h3><a href="#">Beach volleyball</a></h3>
                    <img class="event-img" src="~/Content/images/volleyball.jpg">
                    <p class="short-description">Play volleyball with other people on the beach. Nothing professional, only pure fun for the whole family!</p>
                </div>
                <button class="btn">Find next event</button>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 col-lg-4">
            <div class="event passed">
                <h3>Beach volleyball</h3>
                <img class="event-img" src="~/Content/images/volleyball.jpg">
                <p class="short-description">Play volleyball with other people on the beach. Nothing professional, only pure fun fot the whole family!</p>
                <button class="btn hidden">Sign up</button>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 col-lg-4">
            <div class="event">
                <h3>Beach volleyball</h3>
                <img class="event-img" src="~/Content/images/volleyball.jpg">
                <p class="short-description">Play volleyball with other people on the beach. Nothing professional, only pure fun fot the whole family!</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 col-lg-4">
            <div class="event">
                <h3>Beach volleyball</h3>
                <img class="event-img" src="~/Content/images/volleyball.jpg">
                <p class="short-description">Play volleyball with other people on the beach. Nothing professional, only pure fun fot the whole family!</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 col-lg-4">
            <div class="event">
                <h3>Beach volleyball</h3>
                <img class="event-img" src="~/Content/images/volleyball.jpg">
                <p class="short-description">Play volleyball with other people on the beach. Nothing professional, only pure fun fot the whole family!</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 col-lg-4">
            <div class="event">
                <h3>Beach volleyball</h3>
                <img class="event-img" src="~/Content/images/volleyball.jpg">
                <p class="short-description">Play volleyball with other people on the beach. Nothing professional, only pure fun fot the whole family!</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 col-lg-4">
            <div class="event">
                <h3>Beach volleyball</h3>
                <img class="event-img" src="~/Content/images/volleyball.jpg">
                <p class="short-description">Play volleyball with other people on the beach. Nothing professional, only pure fun fot the whole family!</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 col-lg-4">
            <div class="event">
                <h3>Beach volleyball</h3>
                <img class="event-img" src="~/Content/images/volleyball.jpg">
                <p class="short-description">Play volleyball with other people on the beach. Nothing professional, only pure fun fot the whole family!</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>