@{
    ViewBag.Title = "Home Page";
}

<div class="col-sm-12 main-img">
    <div class="main-header">
        <h1>Camping can be fun with the right people</h1>
        @Html.ActionLink("Join the experience", "Index", "Event", new {  }, new { @class = "btn" })
        @*<a class="btn">Join the experience</a>*@
    </div>
</div>
<div class="offers">
    <h1 class="col-xs-12">What we offer</h1>
    <div class="col-xs-12">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="offer">
                <div class="img-wrapper event-offer">
                    <h3>Events</h3>
                </div>
                <p>We offer lots of different events for all ages</p>
                @Html.ActionLink("See all events", "Index", "Event", new { }, new { @class = "btn" })
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="offer">
                <div class="img-wrapper house-offer">
                    <h3>Accomodation</h3>
                </div>
                <p>You can choose between mobile houses with different bed </p>
                <a class="btn">See offer</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="offer">
                <div class="img-wrapper food-offer">
                    <h3>Food</h3>
                </div>
                <p>There are many different restaurants around the camp</p>
                <a class="btn">See all restoraunts</a>
            </div>
        </div>
    </div>
</div>