@using CampNotFound.Data
@model CampNotFound.Data.Board

@{
    ViewBag.Title = "Message Board";
}

<div class="col-m-12 col-xs-12">


    <div class="omb-wrapper">
        <h2>Message Board</h2>
        <ul>

            @foreach (var item in (List<Message>)ViewBag.MessagesList)
            {
                <li><span class="user">@item.User_Id</span>@item.Text</li>
            }

        </ul>
        <input type="text" class="input-field form-control" />
        <span class="send-btn btn disabled">Send</span>
    </div>
</div>